body{
    margin: 0;
    padding: 0;
    background:#fff;
}
nav{
    width: 100%;
    background: linear-gradient(to right, #0db7ed, #fff );
    overflow: auto;
}
ul{
    position: absolute;
    margin: 0;
    padding: 20px 0;
    left: 30%;
    top:  1%;
    background:#fff ;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
}
ul li{
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0,0,0,0.2);
}
ul li:last-child{
   border-right:  none;
}
ul li a{
    text-decoration:  none;
    padding: 0 50px;
    display: block;
}
ul li a .icon{
    width: 40px;
    height: 40px;
    text-align: center;
       overflow: hidden;
    margin: 0 auto 10px;
}
ul li a .icon .fa{
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    transition: 0.5s;
    color: #000;
}
ul li a .icon .fa:last-child{
  color: skyblue;  
}
ul li a:hover .icon .fa{
    transform: translateY(-100%);
}
ul li a .name{
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
}
ul li a .name span{
    display: block;
    position: relative;
    color: #000;
    font-size: 18px;
    line-height: 20px;
    transition: 0.5s;
}
ul li a .name span:before{
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: skyblue;
}
ul li a .name:hover span:before{
    transform: translateY(20px);
}

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@100&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
}
p{
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 90px;
    transition: 0.5s;
   
}

/*  Banner Image */
.banner_image{
    background: linear-gradient(to right, skyblue, #fff ) no-repeat top center;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.covid{
    background: #f5f5f5;
}

.covid_wrapper .covid{
    display: flex;
    justify-content: space-between;
}

.covid_wrapper .covid-1.covid{
    margin-bottom: 25px;
}

.covid_wrapper .covid_pic{
    width: 30%;
    height: auto;
    cursor: pointer;
    overflow: hidden;
}

.covid_wrapper .covid_pic img{
    width: 100%;
    display: block;
    height: auto;
    transition: all 0.5s ease;
} 

.covid_wrapper .covid_pic:hover img{
    transform: scale(1.1);
}
.covid{
    padding: 5% 10%;
    text-align: center;
}

.btn a{
    display: block;
    width: 180px;
    height: 35px;
    border: 2px solid skyblue;
    line-height: 35px;
    margin: 25px auto 0;
    color: skyblue;
    text-align: center;
}
.btn a:hover{
     background:  linear-gradient(to right, #000000, #0db7ed );
    cursor: pointer;
}
.header{
    height: 100hv;
    background-image: linear-gradient(to right, #0db7ed , #fff );
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Josefin Sans', sans-serif;
}

h2{
    text-align: center;
    margin-bottom: 70px;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    transition: 0.5s;
   
}
.search-field{
    height: 50px;
    padding: 10px;
}
.skills{
    width: 400px;
}
.location{
    width: 200px;
}
.search-btn{
    height: 50px;
    width: 150px;
    background: skyblue;
    border: none;
    color: #fff;
}

.search-btn:hover{
    background:  linear-gradient(to right, #0db7ed, #000000 );
    cursor: pointer;
}

h4{
    text-align: center;
}

h1{
    text-align: center;
    color: black;
    
}
.fas{
    position: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 4rem;
    grid-gap: 20px;
    width: 80%;
    margin: auto;
   
}
.card{
    border: 1px solid skyblue;
    text-align: center;
    padding: 4rem;
    line-height: 1.5;
    background-color: #fff;
}
.card:hover{
    transform: translateY(-10px);
    transition: all 200ms;
    border: 1px solid #4f9ec4;
}
.color{
    color: #4f9ec4;
}

a{
    color:#000000;
}
/*     categories       */

nav{
    background: white;
    padding: 10px 40px 10px 70px;
    border: 1px solid skyblue;
    border-left: none;
    border-right: none;
}

nav lu{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}
nav lu div.categories{
    padding: 0 25px;
}

nav lu div.categories a{
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
}
nav lu div.categories a:hover{
    color: skyblue;
}
nav lu .search-icon{
    height: 40px;
    width: 240px;
    display: flex;
    background: skyblue;
    border-radius: 5px;
}
nav lu .search-icon input{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: aquamarine;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    
}
nav lu .search-icon .icon{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid skyblue;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
nav lu .search-icon .icon:hover{
    background:   linear-gradient(to right, #0db7ed, #000000 );
}
nav lu .search-icon .icon span{
    color: #fff;
    font-size: 18px;
}

/*    contact us   */
.form_input{
    margin-bottom: 15px;
}

.form_input input[type="text"]{
    width: 250px;
    padding: 12px 20px;
    border: 1px solid #ccc;
}

.form_input textarea{
    width: 250px;
    padding: 12px 20px;
    height: 80px;
    resize: none;
    border: 1px solid #ccc:
}
.about,.services,.contactus,.ourteam{
    padding: 5% 10%;
    text-align: center;
}

.footer{
    width: 100%;
    text-align: center;
    background: linear-gradient(to right, #0db7ed , #fff );
    padding: 20px 0;
}

.footer a{
    color: #000000;
}

p{
    align-content: center;
}






















